<div class="bg202539 footer mt20">
	<div class="wrap">
		<div class="footer-top clearfix">
			<div class="footer-topl fl">
				<h3>合作伙伴</h3>
				<ul class="footer-link">
					<li><a href="">阿里巴巴集团</a></li>
					<li><a href="">淘宝网</a></li>
					<li><a href="">天猫</a></li>
					<li><a href="">天猫</a></li>
					<li><a href="">聚划算</a></li>
					<li><a href="">全球速卖通</a></li>
					<li><a href="">阿里巴巴国际交易市场</a></li>
					<li><a href="">1688</a></li>
					                              
				</ul>
			<div class="clear"></div>
				<h3 class="footer-mt">西湖创客汇</h3>
				<ul class="footer-link">
					<li><a href="">关于我们</a></li>
					<li><a href="">联系我们</a></li>
					<li><a href="">招聘计划</a></li>
				</ul>
			</div>
			<div class="footer-topr fr">
				
				<div class="sharebox">
				<a href="#" class="icon-sina"></a>
				<a href="#" class="icon-weixin"></a>
				</div>
				<div class="shareimg">
					<img src="__IMG__/icon-weibig.png">
					
				</div>
				<div class="clear"></div>
				<p>西湖创客汇微信服务号</p>
			</div>
		</div>

		<div class="footer-bot">
			© 2009-2015 xihuchuangkehui.com 版权所有 ICP证：浙B2-20080101
		</div>

	</div>
</div>

<p id="back-to-top">回到顶部</p>

<script src="__JS__/lib/jquery-1.9.1.min.js"></script>
<script src="__JS__/common.js"></script>
<script src="__JS__/main.js"></script>
