<include file="Public/header" />

<div class="bigbg">

	<div class="wrap">
		<div class="banner_pro">
			<img src="__IMG__/in_banner5.png" height="400" width="1000"></div>
		<ul class="catePro clearfix">
			<li class="on">
				<span class='icon-cate1'>全部分类</span>

			</li>
			<li>
				<span class='icon-cate2'>进行中</span>
			</li>
			<li>
				<span class='icon-cate3'>组团队</span>
			</li>
			<li>
				<span class='icon-cate4'>组队中</span>
			</li>
			<li>
				<span class='icon-cate5'>已商业</span>
			</li>
			<li class="cate-li">
				<span class='icon-cate6'>已商业</span>
			</li>
		</ul>
		<ul class="gybox clearfix">
            <volist name="list" id="data">

			<li {$key|pro_wrap=###,3,'class="gyli"'}>
                <a href="{:U('Project/detail?id='.$data['id'])}">
				<img src="{$data['cover_url']|get_cover='path'}"></a>
				<span class='gy-tit'>{$data.title}</span>
				<div class="gy-info">
					<span class='gy-infol'> {$data.begin_time|date='Y/m/d',###}</span>
					<span class='gy-infor icon-gy{$data.p_status}'>{$p_name[$data[p_status]]}</span>
				</div>

			</li>

            </volist>



		</ul>
		<div class="list-more list-more2">向下滚动以加载更多</div>
	</div>

</div>

</div>

<include file="Public/footer" />
</html>