<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{:C('WEB_SITE_TITLE')}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<meta http-equiv="Cache-Control" content="no-transform"/>
	<link rel="stylesheet" href="__CSS__/common.css"></head>
<body>
	<div class="wapbox bg-white">
		<div class="viewbox">
			<h3 class="viewTit">{$info.title}</h3>
			<p class='viewTip'>
                {$info.create_time|date='Y-m-d',###} <em></em>
			</p>

			<div class="viewcon clearfix">
                {$info.content}
			</div>
		</div>
	</div>
	<script src="__JS__/lib/jquery-1.9.1.min.js"></script>

</body>
</html>