<include file="Public/header" />
<div class="bigbg">
	<div class="wrap">
		<div class="loaction">
			<a href='/'>首页</a> <em>/</em>
			<a href='/'>全部活动</a> <em>/</em>
		</div>
	</div>
	<div class="wrap ">
		<div class="gz-box">
			<ul class="clearfix">
                <volist name="list" id="data">
				<li>
					<a href="{:U('Attentions/detail?id='.$data['id'])}">
						<img src="{$data['cover_id']|get_cover='path'}" ></a>
					<div class="gz-listcon">
						<a href="{:U('Attentions/detail?id='.$data['id'])}">
							<h3>{$data.title}</h3>
							<p class="gz-listinfo">{$data.description}</p>
							<em class='gz-icon'>{$data.view}</em>
						</a>
					</div>
					<div class="gz-time">
						<span>
                            {$data.create_time|date='Y年<br>m月d日',###}
						</span>
					</div>
				</li>
                </volist>
			</ul>
			<div class="list-more">向下滚动以加载更多</div>
		</div>
	</div>

</div>

</div>

<include file="Public/footer" />
</body>
</html>