<include file="Public/header" />
<div class="bigbg">
	<div class="wrap">
		<div class="loaction">
			<a href='/'>首页</a> <em>/</em>
			<a href='/'>各界关注</a>
		</div>
	</div>
	<div class="wrap ">
		<div class="gz-box">
			<ul class="clearfix" id="projectList" data-curpage='1' data-haspage="{$haspage}">
                <volist name="list" id="data">
				<li>
					<a href="{:U('Attentions/detail?id='.$data['id'])}">
						<img src="{$data['cover_id']|get_cover='path'}" ></a>
					<div class="gz-listcon">
						<a href="{:U('Attentions/detail?id='.$data['id'])}">
							<h3>{$data.title}</h3>
							<p class="gz-listinfo">{$data.content|getstr=###,280}</p>
							<em class='gz-icon'>{$data.view}</em>
						</a>
					</div>
					<div class="gz-time">
						<span>
                            {$data.create_time|date='Y年<br>m月d日',###}
						</span>
					</div>
				</li>
                </volist>
			</ul>
			<div class="list-more">向下滚动以加载更多</div>
		</div>
	</div>

</div>

</div>

<include file="Public/footer" />
<script type="text/javascript">



    var J_activeList = $('#projectList');
    var totalheight = 0; //定义一个总的高度变量
    var J_curPage = J_activeList.data('curpage'); //当面页数
    var J_hasPage = J_activeList.data('haspage'); //判断是否存在分页
    //请求数据
    function autoData() {
        J_curPage=J_curPage+1
        $.ajax({
            url: '__ROOT__/Attentions/api/p/'+J_curPage,
            type: 'get',
            dataType: 'json'
        })



                .done(function(data) {
                    var J_html = [];
                    for (var i in data.list) {
                        J_html.push("<li>");
                        J_html.push("<a href='__ROOT__/Attentions/detail?id="+data.list[i].id+"'>");
                        J_html.push("<img src='"+data.list[i].cover_url+"'></a>");
                        J_html.push("<div class='gz-listcon'>");
                        J_html.push("<a href='__ROOT__/Attentions/detail?id="+data.list[i].id+"'>");
                        J_html.push("<h3>"+data.list[i].title+"</h3>");
                        J_html.push("<p class='gz-listinfo'>"+data.list[i].description+"</p>");
                        J_html.push("<em class='gz-icon'>"+data.list[i].view+"</em></a></div>");
                        J_html.push("<div class='gz-time'><span>"+data.list[i].create_time+"</span></div> </li>");
                    }
                    if (!data.haspage) { //判断是否有下一页
                        J_hasPage = false;
                    };
                    $('#projectList').append(J_html.join(''))
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function(data) { //ajax处理完成
                    if (data.hasPage) {
                        J_hasPage = true;
                    }
                });
    };
    $(window).scroll(function() {
        J_docHeight = $(document).height();
        J_scrollTop = $(document).scrollTop();
        J_winHeight = $(window).height();
        /*console.log("滚动条到顶部的垂直高度: "+$(document).scrollTop());
         console.log("页面的文档高度 ："+$(document).height());
         console.log('浏览器的高度：'+$(window).height());*/
        if (J_docHeight < (J_scrollTop + J_winHeight + 340)) {
            //判断是否存在分页
            if (J_hasPage) {
                J_hasPage = !J_hasPage; //等待请求完再进入下一次请求
                setTimeout(autoData, 500)
            }
        }

    });
</script>
</body>
</html>