<include file="Public/header" />
<div class="inbanner">
	
</div>
<div class="bgwhite">
<div class="wrap detialBox">
	<span class='icon-time'>{$info.create_time|date='Y/m/d H:i',###}</span>
	<span class='icon-address'>{$info.address}</span>
</div>
</div>

<div class="wrap">
	<div class="loaction">
		<a href="{:U('Index/index')}">首页</a>  <em>/</em>  <a href="{:U('Activity/index')}">全部活动</a>  <em>/</em>{$info.title}
	</div>
</div>

<div class="wrap bgwhite">
	
	<div class="detialCon">
        {$info.content}
	</div>

</div>
<include file="Public/footer" />
</body>
</html>