<include file="Public/header" />
<div class="inbanner">
	
</div>
<div class="bgwhite">
<div class="wrap detialBox">
	<span class='icon-time'>2015/09/12 13:30</span>
	<span class='icon-address'>深圳市福田区福田保税区花样年福年广场 B4 栋 629</span>
</div>
</div>

<div class="wrap">
	<div class="loaction">
		<a href='/'>首页</a>  <em>/</em>  <a href='/'>全部活动</a>  <em>/</em>  “十万火计”系列活动——“我要当领袖”首飞深圳 
	</div>
</div>

<div class="wrap bgwhite">
	
	<p class="detialCon">
		<img src="images/img2.jpg" height="1458" width="1098">

	</p>

</div>
<include file="Public/footer" />
</body>
</html>