<include file="Public/header" />
<div class="bigbg">
	<div class="wrap textTop ">
		<img src="__IMG__/active-text.png" height="217" width="543">
	</div>
	<div class="clear"></div>
	<div class="wrap">
	<div class="activebox">
		<div class="activebox-tit"></div>
		<ul class="activeList ">
            <volist name="list" id="data">
			<li>
				<div class="act-listl">
					<div class="act-icon act-icon{$a|rand=4} fl"></div>
					<div class="act-tit"><em>{$data.create_time|date='Y年',###}<br>{$data.create_time|date='m月d日',###}</em></div>
				</div>
				<div class="act-listr fr">
					<img src="{$data['cover_id']|get_cover='path'}" height="200" width="200">
					<div class="act-listrtext">
						<h5>{$data.title}</h5>
						<p class="act-listCon">
                            {$data.description}
						</p>
						<a href="detial.php">阅读全文</a>
					</div>
				</div>
			</li>
            </volist>
		</ul>

		<div class="act-listbot">
			
		</div>
		
		<div class="list-more">向下滚动以加载更多</div>
	</div>
</div>

</div>

<div class="pubBox">
	
</div>
<include file="Public/footer" />
</body>
</html>