<include file="Public/header" />
<div class="bigbg">
	<div class="wrap ">
		<div class="bbsbox clearfix">
			<h5>大咖列表</h5>
			<ul class="bbslist clearfix">
				<volist name="list" id="data">
					<li {$key|pro_wrap=###,4,'class="bbsItem"'}>
						<a href="{:U('Bigshot/detail?id='.$data['id'])}">
							<img src="{$data['cover_id']|get_cover='path'}" height="190" width="290">
							<span>{$data.title}</span>
						</a>
					</li>
				</volist>
			</ul>
        </div>


			<div class="clear"></div>

	</div>
</div>
<include file="Public/footer" />
<script type="text/javascript">
	$('.strech p').click(function(){
			
			$('.strech p').toggleClass('');
			$(this).toggleClass('arrows_up');
			$('.hide').slideToggle(200);
			
			makercookie = makercookie >0 ? -1 : 1;
			setCookie('usermaker', makercookie, 2592000);
		});

</script>
</body>
</html>