<include file="Public/header" />
<div class="bigbg">
	<div class="inbanner-about"></div>
</div>
<div class="wrap">
	<div class="about-tit">
		<span class='icon-1'>浙江杭州</span>
		<span class='icon-2'>成立于2013</span>
		<span class='icon-3'>孵化20+个项目</span>
		<span class='icon-4'>会员1000+人</span>
	</div>

	<div class="about-info">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;西湖创客汇是浙江第一家创客空间，成立于2013年12月15日，是杭州第一家创客空间。发展到现在已经有会员超过一千人。主要由工程师、设计师、产品经理、创业者和大学生组成，兴趣方向非常宽泛。
        于2015年5月入选“杭州首批十七间众创空间”之一，同时也被纳入国家级孵化器管理体系，成为国家级众创空间！
		<br>
		<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;西湖创客汇汇聚各地创客，相互启发，有爱互助，以科技的力量为社会公益事业做出一定贡献。通过发扬创客精神，即增进年轻人学习技术的兴趣，更为浙江地区科技行业的发展提供文化驱动力，推进社会创造力，以科技的力量为社会公益事业做出一定贡献。
		<img src="__IMG__/about_img.jpg"></div>
	<div class="about-tit2">
		<h3>我们的风采</h3>
		<p>西湖创客汇的使命是汇聚浙江地区的创客</p>

	</div>

</div>
<div class="about-fc">
	<div class="wrap">
		<div class="mainpro">
			<div class="pro_pre"></div>
			<div class="pro_list">
				<ul>

                    <volist name="ads" id="data">
                        <li>
                            <p>
                                <img height="255" width="270" src="{$data['img']|get_cover='path'}"/>
                            </p>
                        </li>
                    </volist>
					</ul>
				</div>
				<div class="pro_next"></div>
			</div>
		</div>
	</div>

<include file="Public/footer" />
	<script type="text/javascript">
	$(function() {
	var sWidth_pro = $(".pro_list").width(); 
	var len_pro = Math.ceil($(".pro_list li").length/3); 
	var index_pro= 0;
	var picTimer_pro;
	$(".pro_list ul").css("width",sWidth_pro * (len_pro));
	$(".pro_pre").click(function() {
		index_pro -= 1;
		if(index_pro == -1) {index_pro = len_pro - 1;}
		showPics_pro(index_pro);
	});

	$(".pro_next").click(function() {
		index_pro += 1;
		if(index_pro == len_pro) {index_pro = 0;}
		showPics_pro(index_pro);
	});
	$(".pro_list").hover(function() {
		clearInterval(picTimer);
	},function() {
		picTimer = setInterval(function() {
			showPics_pro(index_pro);
			index_pro++;
			if(index_pro == len_pro) {index_pro = 0;}
		},4000); 
	}).trigger("mouseleave");
	function showPics_pro(index) { 
		var nowLeft = -index_pro*sWidth_pro; 
		$(".pro_list ul").stop(true,false).animate({"left":nowLeft},300); 
	}
});
</script>
</body>
</html>