<include file="Public/header" />
<div class="slide-main" id="touchMain">
	<a class="prev" href="javascript:;" stat="prev1001"><img src="__IMG__/icon-bannerpre.png" /></a>
	<div class="slide-box" id="slideContent">
        <volist name="ads" id="data">
            <a href="{$data['url']}">
		<div class="slide" id="bgstylec" style="background:url({$data['img']|get_cover='path'}) no-repeat center 0;">

		</div>
            </a>
        </volist>
	</div>
	<a class="next" href="javascript:;" stat="next1002"><img src="__IMG__/icon-bannernext.png"/></a>
	<div class="item">
        <volist name="ads" id="data">
            <a <if condition="$key eq 0">class="cur" </if>stat="item100{$key}" href="javascript:;"></a>
        </volist>
	</div>
</div>



<div class="wrap">
	<div class="main-item mt20 clearfix">
		<h1 class="active-tit"> <i>创客活动</i>
		</h1>
		<ul class="active-list">
            <volist name="activitys" id="data">
			<li>
				<a href="{:U('Activity/detail?id='.$data['id'])}">
					<img src="{$data['cover_id']|get_cover='path'}" ></a>
				<p>
                    <!-- <span>简约 |</span>--> <em> {$data['title']|getstr=###,46}</em> <i>{$data.content|getstr=###,35}</i>
                </p>
            </li>
            </volist>
        </ul>
        <div class="clear"></div>
        <div class="active-more">
            <a href="{:U('Activity/index')}">查看更多</a>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="main-item main-item2 mt20 clearfix">
        <h1 class="active-tit active-tit2">
            <i>1566公益基金</i>
        </h1>

        <ul class="active-list active-list2">
            <li id="sqjj-btn1">
                <img src="__IMG__/main-img4.png" >
                <h6>关于1566</h6>
            </li>
            <li id="sqjj-btn2">
                <img src="__IMG__/main-img5.png" >
                <h6 >申请基金</h6>
            </li>
            <li id="sqjj-btn3">
                <img src="__IMG__/main-img6.png" >
                <h6>公益捐赠</h6>
            </li>
            <li class="actionlist-tit">资助的项目</li>
            <volist name="projects" id="data">
            <li>
                <a href="{:U('Project/detail?id='.$data['id'])}">
                    <img src="{$data['cover_url']|get_cover='path'}" ></a>
                <h5>{$data['title']|getstr=###,22}</h5>
            </li>
            </volist>


        </ul>

        <div class="clear"></div>
        <div class="active-more active-more2">
            <a href="{:U('Project/pro1566')}">查看更多</a>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="main-item main-item3 mt20 clearfix">
        <h1 class="active-tit active-tit3">
            <i>各界关注</i>
        </h1>

        <ul class="active-list active-list3">
            <volist name="attentions" id="data">
            <li>
                <a href="{:U('Attentions/detail?id='.$data['id'])}">
                    <img src="{$data['cover_id']|get_cover='path'}" ></a>
                <h6>{$data['title']|getstr=###,22}</h6>
            </li>
            </volist>
        </ul>

        <div class="clear"></div>
        <div class="active-more active-more3">
            <a href="{:U('Attentions/index')}">查看更多</a>
        </div>
    </div>
</div>

<!-- 弹窗 start -->
<div class="poppubbg"></div>

<div class="poppubBox" style="height:600px;display:none">
	<div class="pubconbox">

        <div class="pub-gycon" id="sqjj1" style="display:none">
            <h3 class="pub-tit">关于1566创客公益基金：</h3>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1566创客公益基金是中国首个创客公益基金，由民间爱心人士通过互联网众筹发起，致力于创客运动发展、创客文化传播、创客环境建设、资助创客成长。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们这个世界问题很多，批评者众、行动者少。创客不一样，创客(Maker)或极客(Geek)不仅对世界抱有自己的观点，还能运用各种DIY手段拿出解决方案表达观点。创新也是一种表达，饱含人文精神的科学思想。创客门槛不高，在社会、艺术、文化、技术等任一方面有见解和动手能力均可，小孩子也可当创客。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如今，中国的创客运动正轰轰烈烈的开展起来，许多投资机构、孵化器、大企业都期待着创客中成长出丰硕成果。但是创客的活动，因其处于萌芽阶段，具有鲜明的非功利性特点，如果大家只是旁观，而不给予实际支持、推动，就很难形成足够的创客人才密度，和丰硕的创意作品。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1566创客公益基金，对于纯公益项目采取无偿资助，对于潜在的商业化项目，在未商业化阶段不求任何经济回报。该基金的发起运作模式，受到国家、省、市各级部门和机构的赞扬与鼓励，多家重要媒体予以重点关注。爱心公益，不落人后！近朱者赤、与善为邻！<br>
            <div class="clear"></div>
            <div class="pub-btn">申请基金</div>
        </div>

        <div class="pub-gycon" id="sqjj2" style="display:none">
            <h3 class="pub-tit">申请基金</h3>
            <div class="pubcon-info">
                <br>
                对于纯公益项目采取无偿资助，对于潜在的商业化项目，在未商业化阶段不求任何经济回报。基金申请流程：<br>
                1、申请人提交资助申请<br>
                2、秘书处项目部预审<br>
                3、预审通过提交项目评审委员会<br>
                4、决策项目评审委员会审核投票<br>
                5、去中心化投票（亮点）：对于项目评审委员会投票未通过的项目，为避免有意义的项目被错判，本基金捐助人还可自组织发起集赞众投，根据资助额度和投票权总数决定是否资助<br>
                6、签署资助协议<br>
                7、资助付款<br>
                8、资助后辅导跟踪<br>

            </div>
        </div>

        <div class="pub-gycon" id="sqjj3" style="display:none">
            <h3 class="pub-tit">公益捐赠</h3>
            <div class="pubcon-info">
                <br>
                捐助人权益<br>
                1、荣誉权、知情权、参与权、优先权<br>
                2、相应额度与范围的对外宣称权<br>
                3、项目资助投票权：个人-1566元/票，机构-1万元/票<br>
                4、资助项目接触关注权：优先接触关注自己投票支持的项目<br>
                5、资助项目辅导权：优先成为创客师友团成员，辅导创客项目<br>
                6、其他经董事会审计决定增补的权益<br>
                更为重要的是：爱心公益，不落人后！近朱者赤、与善为邻！<br>
                详细认捐方式请发短信内容“认捐1566创客公益基金：金额+姓名或单位名称+手机号码”至姚武杰（13958010890）。<br>

                联系方式：<br>
                微信公众号： 1566FUND<br>
                姚武杰： 13958010890 微信号同，ywjok@qq.com<br>
                戴立： 0571-8767 2295，153 8111 0619，DL@xihumaker.com<br><br>

            </div>
        </div>






		<div class="pop-close"></div>
		<div class="pop-pre"></div>
		<div class="pop-next"></div>
	</div>
</div>
<include file="Public/footer" />
<script type="text/javascript">

var J_index=0;
var J_poppubBox=$('.poppubBox');
var J_poppubbg=$('.poppubbg');
    //弹出
    $('#sqjj-btn1').on('click',function(){
        J_index = 0;
        $("#sqjj1").css('display','block');
        $("#sqjj2").css('display','none');
        $("#sqjj3").css('display','none');
        $(".pop-pre").hide();
        $('.poppubbg,.poppubBox,.pop-next').show();
        var _WinHeight=$(window).height();
        if(_WinHeight>600){
            var J_popHeight=(_WinHeight-600)/2;
            J_poppubBox.css({
                top: J_popHeight+'px',

            });
        }else{
            J_poppubBox.css({
                top: 0+'px'
            });
        }

    });
    //弹出
    $('#sqjj-btn2').on('click',function(){
        J_index = 1;
        $("#sqjj1").css('display','none');
        $("#sqjj2").css('display','block');
        $("#sqjj3").css('display','none');
        $('.poppubbg,.poppubBox,.pop-next,.pop-pre').show();
        var _WinHeight=$(window).height();
        if(_WinHeight>600){
            var J_popHeight=(_WinHeight-600)/2;
            J_poppubBox.css({
                top: J_popHeight+'px',

            });
        }else{
            J_poppubBox.css({
                top: 0+'px'
            });
        }

    });
	//弹出
	$('#sqjj-btn3').on('click',function(){
        J_index = 2;
        $("#sqjj1").css('display','none');
        $("#sqjj2").css('display','none');
        $("#sqjj3").css('display','block');
        $(".pop-next").hide();
		$('.poppubbg,.poppubBox,.pop-pre').show();
		var _WinHeight=$(window).height();
		if(_WinHeight>600){
			var J_popHeight=(_WinHeight-600)/2;
			J_poppubBox.css({
				top: J_popHeight+'px',
				
			});
		}else{
			J_poppubBox.css({
				top: 0+'px'
			});
		}
		
	});
	$('.pop-close').on('click',function(){
		J_poppubbg.hide();
		J_poppubBox.hide();
	});
	// 切换

	var J_popPre=$('.pop-pre');
	var J_popBtn=$('.pub-btn');
    var J_popNext=$('.pop-next');
	var J_pubGycon=$('.pub-gycon');
	J_popNext.hide();

	J_popPre.on('click',function(){

		J_index=J_index-1;
		if(J_index<=1){
			J_popNext.show();
		}
		J_pubGycon.hide();
		J_pubGycon.eq(J_index).show('100');
		if(J_index==0){
			J_popPre.hide();
		}
	});

    J_popBtn.on('click',function(){

        J_index=J_index+1;
        if(J_index>0){
            J_popPre.show();
        }
        J_pubGycon.hide();
        J_pubGycon.eq(J_index).show('100');
        if(J_index==(J_pubGycon.length-1)){
            J_popNext.hide();
        }
    });

	J_popNext.on('click',function(){

		J_index=J_index+1;
		if(J_index>0){
			J_popPre.show();
		}
		J_pubGycon.hide();
		J_pubGycon.eq(J_index).show('100');
		if(J_index==(J_pubGycon.length-1)){
			J_popNext.hide();
		}
	});

</script>
<script src="__JS__/banner.js"></script>
</body>
</html>