<include file="Public/header" />
<div class="bigbg">
<div class="wrap ">
<div class="bbsbox clearfix">
	<h5>热门创客</h5>
	<ul class="bbslist clearfix">
		<li>
			<a href="#"><img src="__IMG__/img1.jpg" height="190" width="290">
			<span>这里是创客的名字</span>
			</a>
		</li>
		<li>
			<a href="#"><img src="__IMG__/img1.jpg" height="190" width="290">
			<span>这里是创客的名字</span>
			</a>
		</li>
		<li>
			<a href="#"><img src="__IMG__/img1.jpg" height="190" width="290">
			<span>这里是创客的名字</span>
			</a>
		</li>
		<li class="bbsItem">
			<a href="#"><img src="__IMG__/img1.jpg" height="190" width="290">
			<span>这里是创客的名字</span>
			</a>
		</li>
		<li>
			<a href="#"><img src="__IMG__/img1.jpg" height="190" width="290">
			<span>这里是创客的名字</span>
			</a>
		</li>
		<li>
			<a href="#"><img src="__IMG__/img1.jpg" height="190" width="290">
			<span>这里是创客的名字</span>
			</a>
		</li>
		<li>
			<a href="#"><img src="__IMG__/img1.jpg" height="190" width="290">
			<span>这里是创客的名字</span>
			</a>
		</li>
	</ul>

	<h5 class="mt30">全部创客</h5>
	<ul class="bbslist clearfix">
		<li>
			<a href="#"><img src="__IMG__/img1.jpg" height="190" width="290">
			<span>这里是创客的名字</span>
			</a>
		</li>
		<li>
			<a href="#"><img src="__IMG__/img1.jpg" height="190" width="290">
			<span>这里是创客的名字</span>
			</a>
		</li>
		<li>
			<a href="#"><img src="__IMG__/img1.jpg" height="190" width="290">
			<span>这里是创客的名字</span>
			</a>
		</li>
		<li class="bbsItem">
			<a href="#"><img src="__IMG__/img1.jpg" height="190" width="290">
			<span>这里是创客的名字</span>
			</a>
		</li>
		<li>
			<a href="#"><img src="__IMG__/img1.jpg" height="190" width="290">
			<span>这里是创客的名字</span>
			</a>
		</li>
		<li>
			<a href="#"><img src="__IMG__/img1.jpg" height="190" width="290">
			<span>这里是创客的名字</span>
			</a>
		</li>
		<li>
			<a href="#"><img src="__IMG__/img1.jpg" height="190" width="290">
			<span>这里是创客的名字</span>
			</a>
		</li>
	</ul>
	<div class="list-more list-more2">向下滚动以加载更多</div>
</div>
</div>
</div>
<include file="Public/footer" />
</body>
</html>