<include file="Public/header" />
<div class="bigbg">
	<div class="wrap ">
		<div class="bbsbox clearfix">
			<h5>热门创客</h5>
			<ul class="bbslist clearfix">
				<volist name="makers" id="data">
					<li {$key|pro_wrap=###,4,'class="bbsItem"'}>
						<a href="{:U('Bbs/detail?id='.$data['id'])}">
							<img src="{$data['cover_id']|get_cover='path'}" height="190" width="290">
							<span>{$data.title}</span>
						</a>
					</li>
				</volist>
			</ul>



			<div class="clear"></div>
			<!--stretch start-->
			<div class="stretch_bg">
				<div class="strech">
					<div class="show"  name="1F" id="1F">
						<p id="arrows" class="arrows_up">
                            <i class="arrows_down "></i>
						</p>
                        <a href="{:U('Bbs/index#1F')}">
						<span <if condition="$area eq 0">class="cur_province"</if>>
                        <b>全部创客</b>
						</span>
                        </a>
                        <volist name="arealist" id="data" offset="0" length='5'>
                        <a href="{:U('Bbs/index')}?area={$data.area}#1F">
						<span <if condition="$area eq $data[area]">class="cur_province"</if>>
                            <b>{$area_name[$data[area]]}</b>
                            <i>({$data.num})</i>
						</span>
                        </a>
                        </volist>

					</div>
					<div class="hide">
                        <volist name="arealist" id="data" offset="5">
						<span>
                            <b>{$area_name[$data[area]]}</b>
                            <i>({$data.num})</i>
						</span>
                        </volist>
					</div>

				</div>
			</div>
			
		</div>



		<div class="bbsbox allck_box clearfix">
            <volist name="list" id="data">
			<h5>{$area_name[$key]}创客空间</h5>
			<ul class="gybox clearfix">
                <assign name="sonlist" value="$data" />
                <volist name="sonlist" id="data">
                <li {$key|pro_wrap=###,3,'class="gyli"'}>
                    <img src="{$data['cover_url']|get_cover='path'}">
                    <span class='gy-tit'>{$data.title}</span>
                    <div class="gy-info">
                        {$data.content|getstr=###,50}
                    </div>
                </li>
                </volist>
		    </ul>
            </volist>

		</div>
	</div>
</div>
<include file="Public/footer" />
<script type="text/javascript">
	$('.strech p').click(function(){
			
			$('.strech p').toggleClass('');
			$(this).toggleClass('arrows_up');
			$('.hide').slideToggle(200);
			
			makercookie = makercookie >0 ? -1 : 1;
			setCookie('usermaker', makercookie, 2592000);
		});

</script>
</body>
</html>