<include file="Public/header" />
<div class="bigbg">
<div class="inbanner-re">
	
</div>
<div class="wrap ">
	<div class="re-top">
		平凡人做平凡事,你不是平凡的人<br>
逗留在大山的巍峨壮美中,我们就会错失海<br>
走过去,将是另一番浩瀚壮阔<br>
逗留在大海的波澜壮阔中,我们就会错失大漠<br>
走过去,广袤无垠的沙漠更摄人心<br>
	<em>西湖创客汇，这里有梦和方向</em>
	</div>

	<div class="re-img">
		<img src="__IMG__/resources_img.jpg">
	</div>

	<div class="re-tit">
		无偿资助
	</div>
	<div class="re-info clearfix">
		他，从农村走来，却为了创业放弃仕途; <br>
他，参加过第一届“赢在中国”，小小失利更激发了他的斗志; <br>
70末的他，如今已是一家资产过亿公司的副总裁; <br>
他要做中国杰出的企业家、世界一流的演讲家、教育家、慈善家！ 

	</div>
	<div class="clear"></div>
	<div class="re-btn">
		<img src="__IMG__/re_add.png">
	</div>
	<div class="re-tit clearfix">
		免费场地
	</div>
	<div class="clear"></div>
	<div class="re-info clearfix">
		他，从农村走来，却为了创业放弃仕途; <br>
他，参加过第一届“赢在中国”，小小失利更激发了他的斗志; <br>
70末的他，如今已是一家资产过亿公司的副总裁; <br>
他要做中国杰出的企业家、世界一流的演讲家、教育家、慈善家！ 

	</div>
	<div class="clear"></div>
	<div class="re-tit clearfix">
		大咖指导
	</div>
	<div class="clear"></div>
	<div class="re-info clearfix">
		他，从农村走来，却为了创业放弃仕途; <br>
他，参加过第一届“赢在中国”，小小失利更激发了他的斗志; <br>
70末的他，如今已是一家资产过亿公司的副总裁; <br>
他要做中国杰出的企业家、世界一流的演讲家、教育家、慈善家！ 

	</div>
	<div class="clear"></div>
	<div class="re-tit clearfix">
		工具设备
	</div>
	<div class="clear"></div>
	<div class="re-info clearfix">
		他，从农村走来，却为了创业放弃仕途; <br>
他，参加过第一届“赢在中国”，小小失利更激发了他的斗志; <br>
70末的他，如今已是一家资产过亿公司的副总裁; <br>
他要做中国杰出的企业家、世界一流的演讲家、教育家、慈善家！ 

	</div>
	<div class="clear"></div>
	<div class="re-tit clearfix">
		媒体及人脉
	</div>
	<div class="clear"></div>
	<div class="re-info clearfix">
		他，从农村走来，却为了创业放弃仕途; <br>
他，参加过第一届“赢在中国”，小小失利更激发了他的斗志; <br>
70末的他，如今已是一家资产过亿公司的副总裁; <br>
他要做中国杰出的企业家、世界一流的演讲家、教育家、慈善家！ 

	</div>
</div>
</div>
<include file="Public/footer" />
</body>
</html>